$boxshadow-color:#bfbfbf;

////////////////////////////////////////Header////////////////////////////////////////
$header-height:70px;
$header-background-color:white;
$toggle-background-color:#ed0815;
$linear-gradient-third-color:#f68f1d;
$toggle-slider-background-color:#cccccc;
$toggle-slider-before-background-color:white;

////////////////////////////////////////Sidebar////////////////////////////////////////
$sidebar-width:250px;
$sidebar-a-tag-color:white;
$sidebar-background-color:#1d2833;
$sidebar-a-tag-hover-background-color:#bf0109;
$sidebar-a-tag-active-background-color:#f3791f;

////////////////////////////////////////Main////////////////////////////////////////
$main-background-color:#eeeeee;
$card-background-color:white;