@import "scss/variables.scss";

#contentSection {
    -webkit-transition: all ease 0.4s;
    -moz-transition: all ease 0.4s;
    -o-transition: all ease 0.4s;
    transition: all ease 0.4s;
    width: 100%;
    min-height: 100%;
    height: auto;
    background-color: $main-background-color;
    margin-left: 0px;
    padding: 2%;
    padding-top: calc(2% + #{$header-height});
}

.sidebarWidth {
    width: calc(100% - #{$sidebar-width}) !important;
    margin-left: $sidebar-width !important;
}