/* You can add global styles to this file, and also import other style files */
@import "./app/scss/variables.scss";

html,
body {
    height: 100%;
}

.card {
    margin-bottom: 10px;
    box-shadow: 0px 1px 5px 0px $boxshadow-color;
    -moz-box-shadow: 0px 1px 5px 0px $boxshadow-color;
    -webkit-box-shadow: 0px 1px 5px 0px $boxshadow-color;
}

.is-invalid {
    border-color: $is-invalid-color;
}

table {
    td {
        button {
            color: inherit;
            border: none;
            cursor: pointer;
            background-color: transparent;
            transition: all ease 1s;
            -o-transition: all ease 1s;
            -moz-transition: all ease 1s;
            -webkit-transition: all ease 1s;

            &:hover {
                -webkit-transform: scale(1.2);
                -moz-transform: scale(1.2);
                -o-transform: scale(1.2);
                transform: scale(1.2);
            }
        }
    }
}